@import "tailwindcss";
@import "tw-animate-css";

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");

@custom-variant dark (&:is(.dark *));

:root {
  --background: #fdf2d6;
  --foreground: #224e6d;
  --card: #fdf2d6;
  --card-foreground: #224e6d;
  --popover: #fdf2d6;
  --popover-foreground: #224e6d;
  --primary: #f5690d;
  --primary-foreground: #fdf2d6;
  --secondary: #224e6d;
  --secondary-foreground: #fdf2d6;
  --muted: #224e6d;
  --muted-foreground: #fdf2d6;
  --accent: #f5690d;
  --accent-foreground: #fdf2d6;
  --destructive: #f5690d;
  --destructive-foreground: #fdf2d6;
  --border: #224e6d;
  --input: #fdf2d6;
  --ring: #f5690d;
  --chart-1: #f5690d;
  --chart-2: #224e6d;
  --chart-3: #fdf2d6;
  --chart-4: #224e6d;
  --chart-5: #f5690d;
  --radius: 0.5rem;
  --sidebar: #fdf2d6;
  --sidebar-foreground: #224e6d;
  --sidebar-primary: #f5690d;
  --sidebar-primary-foreground: #fdf2d6;
  --sidebar-accent: #224e6d;
  --sidebar-accent-foreground: #fdf2d6;
  --sidebar-border: #224e6d;
  --sidebar-ring: #f5690d;
}

.dark {
  --background: #224e6d;
  --foreground: #fdf2d6;
  --card: #224e6d;
  --card-foreground: #fdf2d6;
  --popover: #224e6d;
  --popover-foreground: #fdf2d6;
  --primary: #f5690d;
  --primary-foreground: #fdf2d6;
  --secondary: #fdf2d6;
  --secondary-foreground: #224e6d;
  --muted: #fdf2d6;
  --muted-foreground: #224e6d;
  --accent: #f5690d;
  --accent-foreground: #fdf2d6;
  --destructive: #f5690d;
  --destructive-foreground: #fdf2d6;
  --border: #fdf2d6;
  --input: #224e6d;
  --ring: #f5690d;
  --chart-1: #f5690d;
  --chart-2: #fdf2d6;
  --chart-3: #224e6d;
  --chart-4: #f5690d;
  --chart-5: #fdf2d6;
  --sidebar: #224e6d;
  --sidebar-foreground: #fdf2d6;
  --sidebar-primary: #f5690d;
  --sidebar-primary-foreground: #fdf2d6;
  --sidebar-accent: #fdf2d6;
  --sidebar-accent-foreground: #224e6d;
  --sidebar-border: #fdf2d6;
  --sidebar-ring: #f5690d;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    font-family: "Comfortaa", cursive, sans-serif;
    @apply bg-background text-foreground;
  }
}
